################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab2TestProject/Debug/Lab2TestProject.tlog
